<h1>New Booking for </h1>

<%= form_for([@room, @booking]) do |form| %>
  <!-- Form fields for the booking attributes -->
  <div>
    <%= form.label :start_at %>
    <%= form.date_field :start_at %>
  </div>

  <div>
    <%= form.label :ends_at %>
    <%= form.date_field :ends_at %>
  </div>

  <!-- Form fields for the room attributes -->
  <div>
    <%= form.label :room, "Room Name" %>
    <%= form.text_field :room, value: @room.name, readonly: true %>
  </div>

  <!-- Submit button -->
  <%= form.submit %>
<% end %>

<%= link_to 'Back', room_path(@room) %>
