<h2><%= @room.name %></h2>
<p><%= @room.price_per_night %></p>
<p><%= @room.capacity %></p>
<p><%= @room.photo %></p>
<p> <%= link_to "Back to Dream Rooms", rooms_path, class: "btn btn-primary" %></p>
